

header {
    height: 80px;
}

header a{
    text-decoration: none;
    color: black;
}

header .logo {
    font-size: 36px;
    font-family: sans-serif;
}

header .menu {
    width: 25px;
    margin-right: 30px;
}

header .menu:hover {
    cursor: pointer;
}

main {
    height: 680px;
    background-color: rgb(179, 179, 179);;
}

main .user {
    width: 64px;
    margin-top: -35%;
}

main .result_title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: cursive;
    margin-top: -80px;
    margin-bottom: 30px;
}

main .result_container {
        font-weight: bold;
        font-size: 16px;
        font-family: cursive;
}



main .mater {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/index.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

main .mater .year {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 14%;
    left: 30%;
}
main .mater .date {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 14%;
    left: 72%;
}
main .mater .result {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 73%;
    left: 50%;
}


footer {
    height: 80px;
}

@media screen and (min-width:426px) {

    main .result_container {
        font-weight: bold;
        font-size: 25px;
        font-family: cursive;
    }

    main .mater {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/index.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

main .user {
    width: 64px;
    margin-top: -1%;
}
}