header {
    height: 80px;
}

header a{
    text-decoration: none;
    color: black;
}

header .logo {
    font-size: 36px;
    font-family: sans-serif;
}

header .menu {
    width: 25px;
    margin-right: 30px;
}

header .menu:hover {
    cursor: pointer;
}

main {
    height: 720px;
    background-color: rgb(179, 179, 179);;
}

main .user {
    width: 64px;
    margin-top: -70px;
}

main .mater_title {
    margin: 0 auto;
    text-align: center;
}

main .mater {
    margin: 0 auto;
    text-align: center;
}

main .mater .chart {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: white;
}

footer {
    height: 80px;
}