body {
    background-image: url(images/background_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

header {
    height: 10%;
    background-color: #3AA763;
    display: flex;
    justify-content: space-between;
}

header a {
    margin: auto 20px;
    background-color: aliceblue;
    border-radius: 10px;
}

header p {
    margin: 10px;
}

header .menu {
    width: 25px;
    margin-right: 30px;
}

header .menu:hover {
    cursor: pointer;
}
main {
    height: 700px;
    display: flex;
    align-items: center;
}

#OBNIZ_OUTPUT {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    position: relative;
    background-color: white;
    border-radius: 50%;
}

.leaf {
    width: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 51.5%;
}

footer {
    height: 10%;
    background-color: #3AA763;
    display: flex;
    justify-content: center;
    align-items: center;
}